body{
    background-color: coral;
}
h1{
    color: black;
}
p{
    color: black;
}
#box{
    width: 200px;
    height: 200px;
    background-color: red;
    font-size: 9.5em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes slideLeft{
    from{transform: translateX(400%);}
}
@keyframes slideRight{
    to{transform: translateX(400%);}
}
@keyframes slideUp{
    from{transform: translateX(400%);}
}
@keyframes slideDown{
    to{transform: translateX(400%);} 
}
@keyframes rotate{
    50%{transform: rotateZ(360deg)}
}
